.inputContainer{
position: relative;
display: inline-block;

}
.input{

width: 240px;
height: 36px;
border-radius: 20px;
padding: 0 70px 0 12px;
border: 1px solid rgb(3, 3, 107);
font-size: 14px;
outline: none;
}

.button{
  cursor: pointer;
  background: transparent;
  border: none;
  font-size: 16px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: left;
  top: 50%;
  transform: translateY(-50%);
}

.button.clear{
  right: 10px;
}
.button.eye{
 right: 40px;
}