.sidebarContainer{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 260px;
  height: 360px;
  background-color: rgba(194, 225, 252, 0.371);
  border-radius: 10px;
  cursor: pointer;
}

.closed{
  width: 200px;
  height: 180px;
  background-color: rgba(194, 225, 252, 0.371);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}



.labels li{
  margin-bottom: 10px;
  margin-top: 6px;
  list-style-type: none;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(83, 82, 82);
}

.openButn {
  width: 120px;
  height: 32px;
  border-radius: 6px;
  border: 1px solid rgb(237, 235, 235);
  background-color: rgb(194, 225, 252);
  font-size: 14px;
  margin-bottom: 10px;
}